@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html{
    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    position: fixed;
    width: 200%; 
    height: 200%;
    top: -50%; 
    left: -50%;
    z-index: -1; 
}

.background img{
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    right: 0;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(50px);
    transform: scale(2.1);
}

.container{
    background-color: #e7e7e7;
    min-height: 600px;
    height:auto; 
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-bottom: 20px; 
}

.container:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.player-img{
    margin-top: 20px; 
    position: relative;
    top: 0;
    left: 0;
}

.player-img img{
    object-fit: cover;
    border-radius: 20px;
    max-width:100%;
    max-height: 100%;
    width: 100%;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img{
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
    
}

.player-img img.active{
    width: 100%;
    height: 100%;
    transition: all 0.5;
    opacity: 1;
}

h2{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 30px 0 0;
}

h3{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}

.player-progress{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px 35px;
    height: 6px;
    width: 90%;
}

.progress{
    background-color: #212121;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.music-duration{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.player-controls{
    position: relative;
    top: -15px;
    left: 120px;
    width: 100%;
    justify-content: center;
}

.fa-solid{
    font-size: 30px;
    color: #666;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.fa-solid:hover{
    filter: brightness(40%);
}

.play-button{
    font-size: 44px;
    position: relative;
    top: 3px;
    
}

.search-wrapper {
    width:90%;
    margin-top: 20px; 
    display: flex; 
    justify-content: center; 
    gap: 10px;  
}

#search-input{
    width: 70%;
    padding: 10px; 
    border-radius: 20px; 
    border: none; 
    outline: none; 
    font-family: 'Ubuntu', sans-serif; 
}

#search-button {
    background-color: #212121;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

#search-button:hover {
    transform: scale(1.1);
}

#search-button i {
    font-size: 16px;
    margin: 0; 
    color: white;
}



#cover, #bg-img {

    transition: opacity 0.4s ease-in-out; 
}

.fade-out {
    opacity: 0;
}



.music-list {
    list-style: none; 
    padding: 0;
    margin-top: 10px ;
    margin-bottom: 10px; 
    width: 90%;
    max-height: 150px; 
    overflow-y: auto; 
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    display: none; 
    z-index: 10; 
}

.music-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.music-list li:hover {
    background-color: white;
    border-radius: 5px;
}




.loading {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-left-color: #212121; 
    animation: spin 1s linear infinite;
    display: none;
    margin-left: 10px; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.search-wrapper {
    align-items: center; 
}